*{
    margin: 0%;
    padding: 0%;
}

.cabeçalho {
    background-color: #b3d4a2;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabeçalho-imagem{
    width: 10%;
}

.cabeçalho-lista-item{
    font-size: 24px;
}
.neymar-imagem{
    width: 40%;
}
.biografia{
    background-image: linear-gradient(#b3d4a2,#48b97b);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8% 0;
}

.neymar-div-conteudo{
    width: 35%;
}
.biografia-de-neymar-titulo{
    padding: 10% 0;
}